**__pycache__/
.vscode/
frontend/
logs/
notebooks/
scripts/
wandb/

.git
.github
.gitignore
.github/

.~lock.*
*.txt
!requirements.txt
*.md
*.log
*.prof
*.zip
*.json
*.zip
*.tar
*.gz

.dockerignore
Dockerfile
